<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
    <add key="mgr:DatabaseKeys" value="MovieStore, InventoryDb"/>
    <add key="mgr:RootNamespace" value="DatabaseMigrateRunner.Migrations"/>
    <add key="mgr:AvailableLevels" value="1000, 2000, 3000"/>

    <add key="mgr:MovieStore_ConnString" value="Data Source=.\MSSQL2014;Initial Catalog=TestDB1;User ID=admin;Password=admin;Connection Timeout=6000;"/>
    <add key="mgr:InventoryDb_ConnString" value="Data Source=.\MSSQL2014;Initial Catalog=TestDB2;User ID=admin;Password=admin;Connection Timeout=6000;"/>
  </appSettings>
  
</configuration>