<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <sectionGroup name="common">
        <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
      </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>

    <common>
      <logging>
        <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
          <arg key="configType" value="INLINE"/>
        </factoryAdapter>
      </logging>
    </common>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="file" xsi:type="File" archiveAboveSize="1024000" maxArchiveFiles="10" fileName="${basedir}/Logs/log.${longdate:cached=true}.log" layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}"/>
        
        <target name="c" xsi:type="Console" layout="${message}"/>
      </targets>
      <rules>
        <logger name="*" minlevel="Debug" writeTo="file"/>
        <logger name="*" minlevel="Debug" writeTo="c"/>
      </rules>
    </nlog>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
  <appSettings>
    <add key="mgr:DatabaseKeys" value="MovieStore, InventoryDb"/>
    <add key="mgr:RootNamespace" value="DatabaseMigrateRunner.Migrations"/>

    <add key="mgr:MovieStore_ConnString" value="Data Source=.\MSSQL2014;Initial Catalog=TestDB1;User ID=jindev;Password=admin;Connection Timeout=6000;"/>
    <add key="mgr:InventoryDb_ConnString" value="Data Source=.\MSSQL2014;Initial Catalog=TestDB2;User ID=jindev;Password=admin;Connection Timeout=6000;"/>
  </appSettings>
  
</configuration>
